@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap'); /* Corrected font import */

*{
  scroll-behavior: smooth;
  text-decoration: none;
}
/* Set default font */
body {
  font-family: 'Inter', sans-serif;
}

/* Set font for logo */
.font-logo {
  font-family: 'Playfair Display', cursive;
}
